/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
:root {
  --main: var(--secondary100);
  --secondary: rgba(255,255,255, 1);
  --secondary05: rgba(255,255,255, 0.05);
  --secondary15: rgba(255,255,255, 0.15);
  --secondary20: rgba(255,255,255, 0.20);
  --secondary25: rgba(255,255,255, 0.25);
  --secondary50: rgba(255,255,255, 0.50);
  --secondary75: rgba(255,255,255, 0.75);
  --secondary100: rgba(255,255,255, 1.00);
  
  --secondarydark05: rgba(0,0,0, 0.05);
  --secondarydark15: rgba(0,0,0, 0.15);
  --secondarydark20: rgba(0,0,0, 0.20);
  --secondarydark25: rgba(0,0,0, 0.25);
  --secondarydark50: rgba(0,0,0, 0.50);
  --secondarydark75: rgba(0,0,0, 0.75);
  --secondarydark100: rgba(0,0,0, 1.00);

  /* --highlight100: #2f4f4f; */

  --badgecolor: #79869B;

  --transition50-50: 50ms ease-in 50ms;
  --transition100: 100ms;
  --transition200-50: 200ms ease-in-out 50ms;
  --transition400: 400ms ease-in-out 0ms;
  --bordercolor: solid 1px var(--secondary25);
  --selection: var(--highlight100);

}

.clear {
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  color: var(--main);
}

#page {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a {
  color: var(--main);
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: var(--secondary);
  text-decoration: none;
}

p {

}

h1, h2, h3, h4, h5, h6, figure {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0 0 0 0;
}

::-webkit-selection {
  color: var(--selection);
  background: var(--main);
}

::-moz-selection {
  color: var(--selection);
  background: var(--main);
}

::selection {
  color: black;
  background: var(--selection);
}

#fh5co-header,
.fh5co-cover {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#fh5co-header .overlay,
.fh5co-cover .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#fh5co-header .display-t,
.fh5co-cover .display-t {
  width: 100%;
  display: table;
}
#fh5co-header .display-tc,
.fh5co-cover .display-tc {

}
#fh5co-header .display-tc h1, #fh5co-header .display-tc h2, #fh5co-header .display-tc h3,
.fh5co-cover .display-tc h1,
.fh5co-cover .display-tc h2,
.fh5co-cover .display-tc h3 {
  
}
#fh5co-header .display-tc h1,
.fh5co-cover .display-tc h1 {
  font-size: 7vw;
  letter-spacing: -8px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  text-indent: -0.4vw;
}
#fh5co-header .display-tc h1 span,
.fh5co-cover .display-tc h1 span {
  position: relative;
}
/* #fh5co-header .display-tc h1 span:before,
.fh5co-cover .display-tc h1 span:before {
  position: absolute;
  top: 40px;
  left: 0;
  width: 30px;
  height: 4px;
  content: '';
  background: #fff;
  margin-left: -30px;
}
#fh5co-header .display-tc h1 span:after,
.fh5co-cover .display-tc h1 span:after {
  position: absolute;
  top: 40px;
  right: 0;
  width: 30px;
  height: 4px;
  content: '';
  background: #fff;
  margin-right: -30px;
} */
@media screen and (max-width: 768px) {
  #fh5co-header .display-tc h1,
  .fh5co-cover .display-tc h1 {
    font-size: 34px;
  }
  #fh5co-header .display-tc h1 span:before,
  .fh5co-cover .display-tc h1 span:before {
    top: 28px;
    width: 20px;
    height: 3px;
    margin-left: -15px;
    
  }
  #fh5co-header .display-tc h1 span:after,
  .fh5co-cover .display-tc h1 span:after {
    top: 28px;
    width: 20px;
    height: 3px;
    margin-right: -15px;
  }
}
#fh5co-header .display-tc h2,
.fh5co-cover .display-tc h2 {
  font-size: 20px;
  line-height: 1.5;
}
#fh5co-header .display-tc h3,
.fh5co-cover .display-tc h3 {
  font-size: 1.8rem;
  font-weight: 100;
}
@media screen and (max-width: 768px) {
  #fh5co-header .display-tc h3,
  .fh5co-cover .display-tc h3 {
    font-size: 14px;
  }
}
#fh5co-header .display-tc .profile-thumb,
.fh5co-cover .display-tc .profile-thumb {
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 250px;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-header .display-tc .fh5co-social-icons li a,
.fh5co-cover .display-tc .fh5co-social-icons li a {
  color: #fff;
}
#fh5co-header .display-tc .fh5co-social-icons li a i,
.fh5co-cover .display-tc .fh5co-social-icons li a i {
  font-size: 30px;
}

#fh5co-features {
  background: var(--main);
}
#fh5co-features h2 {
  color: #fff;
}
#fh5co-features .services-padding {
  padding: 7em 0;
}
#fh5co-features .feature-left {
  margin-bottom: 40px;
  float: left;
}
@media screen and (max-width: 992px) {
  #fh5co-features .feature-left {
    margin-bottom: 30px;
  }
}
#fh5co-features .feature-left .icon {
  display: table;
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background: #fff;
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-features .feature-left .icon i {
  font-size: 50px;
  display: table-cell;
  vertical-align: middle;
  height: 100px;
  color: var(--main) !important;
}
#fh5co-features .feature-left .feature-copy {
  width: 100%;
}
#fh5co-features .feature-left h3 {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
#fh5co-features .feature-left p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
#fh5co-features .feature-left p:last-child {
  margin-bottom: 0;
}
#fh5co-features .feature-left p a {
  color: #000 !important;
}

#fh5co-about,
#fh5co-resume,
#fh5co-skills,
#fh5co-started,
#fh5co-work,
#fh5co-blog,
#fh5co-pricing,
#fh5co-contact {
  clear: both;
}

@media screen and (max-width: 768px) {
  #fh5co-about,
  #fh5co-resume,
  #fh5co-skills,
  #fh5co-started,
  #fh5co-work,
  #fh5co-blog,
  #fh5co-pricing,
  #fh5co-contact {
  }
}

#fh5co-started {
  border-bottom: none;
}

.fh5co-bg-dark {
  background: #2F3C4F;
  background: var(--main);
}
.fh5co-bg-dark .fh5co-heading h2 {
  color: #fff !important;
}

.info {
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;
}
@media screen and (max-width: 768px) {
  .info {
    margin-bottom: 3em;
  }
}
.info li {
  width: 100%;
  float: left;
  list-style: none;
  padding: 10px;
}
.info li:first-child {
  padding-top: 0;
}
.info li .first-block {
  width: 30%;
  display: inline-block;
  float: left;
  color: #000;
  font-weight: bold;
}
.info li .second-block {
  width: 60%;
  display: inline-block;
  color: #757575;
}

.fh5co-social-icons {
  margin: 0;
  padding: 0;
}
.fh5co-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: var(--main);
  padding-left: 10px;
  padding-right: 10px;
}
.fh5co-social-icons li a i {
  font-size: 20px;
}

#fh5co-about .fh5co-social-icons {
  margin: 0;
  padding: 0;
}
#fh5co-about .fh5co-social-icons li {
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#fh5co-about .fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #fff;
  background: #2F3C4F;
  padding: 10px 10px 2px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
#fh5co-about .fh5co-social-icons li a i {
  font-size: 20px;
}
#fh5co-about .fh5co-social-icons li a:hover {
  background: var(--main);
}

.fh5co-heading {
  margin-bottom: 4em;
}
.fh5co-heading.fh5co-heading-sm {
  margin-bottom: 2em;
}
.fh5co-heading h2 {
  font-size: 50px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: rgb(93, 93, 93);
  font-weight: 600;
}
.fh5co-heading p {
  font-size: 18px;
  line-height: 1.5;
  color: #828282;
}
.fh5co-heading span {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.timeline {
  list-style: none;
  position: relative;
  direction: ltr;
}
.timeline:before {
  top: 0px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;;
  background-color: var(--secondary);
  left: 50px;
  margin-left: 0px;
  opacity: 0.2;
}
@media screen and (max-width: 768px) {
  .timeline:before {
    margin-left: -64px;
  }
}
@media screen and (max-width: 480px) {
  .timeline:before {
    margin-left: -64px;
  }
}
@media screen and (max-width: 768px) {
  .timeline .timeline-heading {
    margin-bottom: 30px;
  }
}
.timeline .timeline-heading > div h3 {
  display: inline-block;
  padding: 7px 15px;
  margin-left: 5vw;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  background: var(--secondary25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .timeline .timeline-heading > div h3 {
    float: left;
    margin-bottom: 0;
  }
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .timeline > li {
    margin-bottom: 4em;
  }
}
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  float: left;
  margin-bottom: 0;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .timeline > li > .timeline-panel {
    width: 85% !important;
  }
}
@media screen and (max-width: 480px) {
  .timeline > li > .timeline-panel {
    width: 75% !important;
  }
  .timeline > li > .timeline-panel:before {
    top: 30px;
  }
  .timeline > li > .timeline-panel:after {
    top: 31px;
  }
}
.timeline > li > .timeline-badge {
  width: 44px;
  height: 44px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 10px;
  margin-left: -21px;
  background-color: var(--secondary);
  z-index: 100;
  display: table;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .timeline > li > .timeline-badge {
    margin-left: -10px !important;
  }
}
@media screen and (max-width: 992px) {
  .timeline > li > .timeline-badge {
    margin-left: -10px !important;
  }
}
.timeline > li > .timeline-badge i {
  color: var(--badgecolor);
  display: table-cell;
  vertical-align: middle;
  height: 44px;
  font-size: 18px;
}
.timeline > li.timeline-unverted {
  text-align: right;
}
@media screen and (max-width: 768px) {
  .timeline > li.timeline-unverted {
    text-align: left;
  }
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: left;
  padding-left: 5vw;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-title {
  margin-bottom: 0;
}

.company {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: normal;
  color: var(--secondary50);
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 992px) {
  ul.timeline:before {
    left: 90px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
  }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}
.progress-wrap-title {
  font-size: 22px;
  font-weight: 600;
}

.progress-wrap {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
.progress-wrap h3 {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
  float: left;
  width: 100%;
}
.progress-wrap h3 .name-left {
  float: left;
}
.progress-wrap h3 .value-right {
  float: right;
}

.progress {
  width: 100%;
  float: left;
  height: 5px;
  box-shadow: none;
}

.progress-bar {
  background-color: rgba(255, 255, 255, .8);
  height: 5px;
  display: block;
  box-shadow: none;
}
/* .progress-bar.progress-bar-1 {
  background-color: #2980b9 !important;
}
.progress-bar.progress-bar-2 {
  background-color: #c0392b !important;
}
.progress-bar.progress-bar-3 {
  background-color: #d35400 !important;
}
.progress-bar.progress-bar-4 {
  background-color: #8e44ad !important;
}
.progress-bar.progress-bar-5 {
  background-color: #27ae60 !important;
} */

.chart {
  position: relative;
  text-align: center;
  line-height: 1.2;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 30px;

}
.chart span {
  position: absolute;
  width: 100%;
}
.chart span strong {
  display: block;
}
.chart canvas {

  left: 0;
  top: 0;
}

.work {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 270px;
  width: 100%;
  display: table;
  overflow: hidden;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .work {
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .work {
    height: 270px;
  }
}
.work .desc {
  display: table-cell;
  vertical-align: middle;
  height: 270px;
  background: #fff;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.work .desc h3 {
  font-size: 20px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
}
.work .desc span {
  display: block;
  color: #999999;
  font-size: 14px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
}
@media screen and (max-width: 768px) {
  .work .desc {
    opacity: 1;
    background: rgba(255, 255, 255, 0.0);
  }
  .work .desc h3 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate(0, 0, 0);
    display: none;
  }
  .work .desc span {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    display: none;
  }
}
.work:hover .desc {
  opacity: 1;
}
.work:hover .desc h3 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.work:hover .desc span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#fh5co-started {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 100%;
}
#fh5co-started .fh5co-heading {
  margin-bottom: 0;
}
#fh5co-started .fh5co-heading h2 {
  color: #fff;
  margin-bottom: 20px !important;
}
#fh5co-started .fh5co-heading p {
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-started .btn {
  height: 54px;
  border: none !important;
  background: #fff;
  color: var(--main);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 50px;
  padding-right: 50px;
}

.fh5co-blog {
  width: 100%;
  float: left;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .fh5co-blog {
    width: 100%;
  }
}
.fh5co-blog .blog-bg {
  display: block;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
}
@media screen and (max-width: 768px) {
  .fh5co-blog .blog-bg {
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .fh5co-blog .blog-bg {
    height: 270px;
  }
}
.fh5co-blog .blog-text {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  padding: 30px;
  float: left;
  background: #fff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .fh5co-blog .blog-text {
    padding: 10px;
  }
}
.fh5co-blog .blog-text span {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 18px !important;
  color: rgba(0, 0, 0, 0.3);
}
.fh5co-blog .blog-text .stuff {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 20px;
}
.fh5co-blog .blog-text .stuff li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .fh5co-blog .blog-text .stuff li {
    font-size: 14px;
  }
}
.fh5co-blog .blog-text .stuff li:first-child {
  margin-left: 0;
}
.fh5co-blog .blog-text .stuff li:last-child {
  float: right;
}
.fh5co-blog .blog-text .stuff li:last-child a {
  color: #000;
}
.fh5co-blog .blog-text .stuff li:last-child i {
  padding-right: 0;
  padding-left: 10px;
}
.fh5co-blog .blog-text .stuff li i {
  font-size: 14px;
  padding-right: 5px;
}
.fh5co-blog .blog-text h3 {
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 1.5;
}
.fh5co-blog .blog-text h3 a {
  color: black;
}

#fh5co-consult {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  width: 100%;
  float: left;
}
#fh5co-consult .video, #fh5co-consult .choose {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  #fh5co-consult .video, #fh5co-consult .choose {
    width: 100% !important;
  }
}
#fh5co-consult .video {
  display: table;
  width: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  #fh5co-consult .video {
    display: none;
  }
}
#fh5co-consult .choose {
  width: 50%;
  padding: 4em;
}
@media screen and (max-width: 768px) {
  #fh5co-consult .choose {
    width: 100%;
    padding: 4em 1em;
  }
}

.fh5co-video {
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .fh5co-video {
    height: 450px;
  }
}
.fh5co-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#fh5co-footer {
  padding: 50px 0;
  float: left;
  width: 100%;
}
#fh5co-footer p:last-child {
  margin-bottom: 0;
}

.contact-info {
  margin-bottom: 4em;
  padding: 0;
}
.contact-info li {
  list-style: none;
  margin: 0 0 20px 0;
  position: relative;
  padding-left: 40px;
  color: #000;
}
.contact-info li i {
  position: absolute;
  top: .3em;
  left: 0;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.3);
}
.contact-info li a {
  color: #000;
}

.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 300;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.form-control:focus, .form-control:active {
  box-shadow: none;
  border: 2px solid rgba(0, 0, 0, 0.8);
}

input[type="text"] {
  height: 50px;
}

.form-group {
  margin-bottom: 30px;
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
}
@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: var(--main);
  color: #fff;
  border: 2px solid var(--main);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #ff9b1a !important;
  border-color: #ff9b1a !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: var(--main);
  border: 2px solid var(--main);
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: var(--main);
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--main);
}

.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.col-padding {
  padding: 6px !important;
  margin: 0px !important;
}

.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

/* .js .animate-box {
  opacity: 0;
} */

.padding-bottom {
  padding-bottom: 50px;
}

.background-main {
  width: 100%;
  height: 100%;
  background-color: rgb(237, 237, 237);
}


/* Nav Bar */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.primary-header {
  background-color: red;
  
}

.nav-wrapper {
  margin-top: 10vh;
  z-index: 10;
  color: var(--secondary);
  margin-left: 10vw;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 768px) {
  .primary-navigation {
    display: none;
    position: fixed;
    inset: 25px 10px auto;
    background-color: #a5d0fa;
  }
  
  .primary-navigation[data-visible] {
    display: block;
    position: fixed;
  }

  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }
  
  .mobile-nav-toggle .icon-close {
    display: none;
  }
}

/* Program Bar */

.program-header {
  color: white;
}

.program-nav-wrapper {
}

/* Lists Styling */

.nav-list,
.design-list {
  display: flex;
  gap: 0px;

}

.listmargin {
 
}

.list-flex {
  width: 75px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-align: -webkit-center;
}

.design-nav-toggle,
.marketing-nav-toggle,
.developmnent-nav-toggle,
.consulting-nav-toggle,
.portfolio-nav-toggle,
.resume-nav-toggle,
.linkedin-nav-toggle,
.contact-nav-toggle,
h2 {
  color: white;
}

.design-list h2, 
.marketing-list h2, 
.development-list h2, 
.consulting-list h2, 
.portfolio-list h2, 
.resume-list h2, 
.linkedin-list h2, 
.contact-list h2,
.design-nav-toggle h2, 
.marketing-nav-toggle h2, 
.development-nav-toggle h2, 
.consulting-nav-toggle h2, 
.portfolio-nav-toggle h2, 
.resume-nav-toggle h2, 
.linkedin-nav-toggle h2, 
.contact-nav-toggle h2 {
font-weight: 900;
font-size: 20px;
}

.design-list p, 
.marketing-list p, 
.development-list p, 
.consulting-list p, 
.portfolio-list p, 
.resume-list p, 
.linkedin-list p, 
.contact-list p,
.design-nav-toggle p, 
.marketing-nav-toggle p, 
.development-nav-toggle p, 
.consulting-nav-toggle p, 
.portfolio-nav-toggle p, 
.resume-nav-toggle p, 
.linkedin-nav-toggle p, 
.contact-nav-toggle p {
font-size: 12px;
}

/* .design-nav-toggle {
} */

.design-list {
  display: flex;
  border-top: solid 1px var(--secondary50);
  gap: 5px;
  width: 100%;
  padding-top: 15px;
}

.design-navigation {
  flex-direction: row;
  flex-wrap: wrap;
}
  
.design-navigation[data-visible] {
  display: none;
  opacity: 0;
  transition-property: all;
}

.design-navigation .gallerysection {

}

.design-nav-toggle {
  cursor: pointer;
  background: transparent;
  border: 0;
}

.design-nav-toggle[nohighlight] {
  opacity: 0.5;
}

.design-nav-toggle:hover {
  opacity: 1;
}

.design-nav-toggle .icon-close {
  display: none;
}

.marketing-list {
  list-style: none;
  display: flex;
}

.marketing-navigation {
  flex-direction: row;
  flex-wrap: wrap;
}
  
.marketing-navigation[data-visible] {
  display: none;
  opacity: 0;
  transition-property: all;
}

.marketing-nav-toggle {
  display: block;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.marketing-nav-toggle[nohighlight] {
  opacity: 0.5;
}

.marketing-nav-toggle:hover {
  opacity: 1;
}

.marketing-nav-toggle .icon-close {
    display: none;
}

.development-list {
  list-style: none;
  display: flex;
}

.development-navigation {
  flex-direction: row;
  flex-wrap: wrap;
}
  
.development-navigation[data-visible] {
  display: none;
  opacity: 0;
  transition-property: all;
}

.development-nav-toggle {
  display: block;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.development-nav-toggle[nohighlight] {
  opacity: 0.5;
}

.development-nav-toggle:hover {
  opacity: 1;
}

.development-nav-toggle .icon-close {
  display: none;
}

.consulting-list {
  list-style: none;
  display: flex;
}

.consulting-navigation {
  flex-direction: row;
  flex-wrap: wrap;
}
  
.consulting-navigation[data-visible] {
  display: none;
  opacity: 0;
  transition-property: all;
}

.consulting-nav-toggle {
  display: block;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.consulting-nav-toggle[nohighlight] {
  opacity: 0.5;
}

.consulting-nav-toggle:hover {
  opacity: 1;
}

.consulting-nav-toggle .icon-close {
  display: none;
}



/* Programs */

/* Resume */

.comp-res {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px;
  padding-top: 30px;
}

.resume-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 50%;
}

.resume {
  overflow-y: scroll;
  height: 35vh;
}

.res-nav-list {
  color: var(--secondary100);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
  padding-left: 10px;
}

.resume-navigation {
  flex-direction: row;
  flex-wrap: nowrap;
}

.resume-navigation-2 { 
    border-top: solid 1px var(--secondary25);
    padding-top: 20px;
}
  
.resume-navigation[data-visible] {
  display: none;
  opacity: 0;
  transition-property: all;
}

.resume-nav-toggle {
  display: block;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.resume-nav-toggle[nohighlight] {
  opacity: 0.5;
}

.resume-nav-toggle:hover {
  opacity: 1;
}

.resume-nav-toggle .icon-close {
  display: none;
}


.timeline {
  padding-top: 75px;
  padding-bottom: 75px;
}

.timeline-info {
  padding-top: 75px;
  width: 50%;
  padding-left: 25px;
  padding-right: 15px;
}

/* Core Competencies */

.competencies {
  width: 50%;
  overflow-y: hidden;
  overflow-x:scroll;
  display: flex;
  align-items:flex-start;
  text-align: center;
  margin-left: -50px;
  padding: 25px;
}

.comp-card {
  min-width: 10%;
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align: center;
  justify-content:center;
  
}

.comp-slide {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 25px;
}


/* Portflolio */

 .portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.portfolio-navigation {
}

.portfolio-navigation[data-visible] {
  display: none;
  opacity: 0;
  transition-property: all;
}

.portfolio-nav-toggle {
  display: block;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.portfolio-nav-toggle[nohighlight] {
  opacity: 0.5;
}

.portfolio-nav-toggle:hover {
  opacity: 1;
}

.portfolio-nav-toggle .icon-close {
  display: none;
}

/* Cards */

.cardrow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  height: 20vh;
  padding: 10px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 9vw;
  width: 8vw;
  border-radius: 5px;
  overflow: hidden;
  border-top: solid 1px rgba(255, 255, 255, 0.0);
  border-bottom: solid 1px rgba(0, 0, 0, 0.0);
  
} 
.card2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 9vw;
  width: 8vw;
  border-radius: 5px;
  overflow: hidden;
  border-top: solid 1px rgba(255, 255, 255, 0.0);
  border-bottom: solid 1px rgba(0, 0, 0, 0.0);
  transform: scaleY(-1);
  
} 
.cards .card, .card2{
  background-color: var(--secondary15);
}

.cards .card:hover {
  cursor: pointer;
  transform: scale(1.05) translatey(-10px);
  box-shadow: 0 1.125em 1em -1em rgba(0, 0, 0, 0.20);
  transition: var(--transition200-50);
  will-change: transform;
}

#hover2:hover ~ #revhover2 {
  margin-top: 20px;
  opacity: 0;
  transition: var(--transition200-50);
}

.card-image {
  height: 75%;
  width: inherit;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content:center;
  object-fit: contain;
  background-color: var(--highlight100);
}

.card-text {
  height: 25%;
  flex-grow: 1;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  justify-content:center;
  line-height: 1;
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
}

.cards .card-image {
  padding: 2vw;
}

.cards .card:hover .card-image {
  transition: 300ms;
}

.cards .img {
  fill: white;
}
.card-image:hover .img{
  filter: blur(100px);
  opacity: 0;
  transition: var(--transition200-50);
}

/* Gallery */

  .galleryselect {
    width: 50%;
    border-right: solid 1px var(--secondary25);
  }

  .gallerydisplay {
    display: flex;
    width: 50%;
    min-height: 100%;
    padding-left: 20px;
  }

  .gallerydisplayimage {
    min-width: 100%;
    min-height: 100%;
    background-image: url(/images/gallery/WavyBuds/2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    filter: grayscale(100);
  }

  .gallerydisplayimage:hover {
    filter: grayscale(0);
    filter: saturate(50);
  }

  .gallerysection {
    border-radius: 2px;
    transition: var(--transition200-50);
    display: flex;

  }

  .gallerysection:hover {
    transition: var(--transition200-50);
  }

  .services .gallerysection {

  }

  .gallery-info {
    margin-top: 25px;
    padding-top: 25px;
    display: flex;
    border-top: solid 1px var(--secondary25);
  }

  .gallery {
    display: grid;
    align-items: center;
    text-align: center;
    list-style: none;
    padding-inline-start: 0;
    overflow: hidden;
  }


  .gallery .card {
    border-radius: 0px;
    justify-content: flex-end;
    height: 6vw;
    width: 6vw;
  }

  .services {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .services .gallery .card {
    border-radius: 0px;
    height: 7.5vw;
    width: 7.5vw;
  }
  
  .gallery .card-text {
    background-color: transparent;
    align-items: flex-start;
  }

  .gallery .card-image {
    background-color: transparent;
    padding: 1.75vw;
  }
  
  .gallery1 {
    z-index: -1;
  }

  .gallery .card:hover{
    transform: none;
    cursor: pointer;
  }
  
  .gallery .img {
    fill: var(--secondary15);
    transition: var(--transition200-50);
  }
  
  .gallery .card:hover .img {
    fill: white;
    transition: var(--transition200-50);
  }

  .portfolio
  .gallery-grid-1,
  .portfolio
  .gallery-grid-2,
  .portfolio
  .gallery-grid-3,
  .portfolio
  .gallery-grid-4,
  .portfolio
  .gallery-grid-5,
  .portfolio
  .gallery-grid-6 {
    grid-row: 1;
    border-bottom: var(--bordercolor);
  }

  .portfolio
  .gallery-grid-7,
  .portfolio
  .gallery-grid-8,
  .portfolio
  .gallery-grid-9,
  .portfolio
  .gallery-grid-10,
  .portfolio
  .gallery-grid-11,
  .portfolio
  .gallery-grid-12 {
    grid-row: 2;
  }

  .portfolio
  .gallery-grid-1,
  .portfolio 
  .gallery-grid-7 {
    grid-column: 1/2 ;
    border-right: var(--bordercolor);
  }

  .portfolio
  .gallery-grid-2,
  .portfolio 
  .gallery-grid-8 {
    grid-column: 2/3 ;
    border-right: var(--bordercolor);
  }

  .portfolio
  .gallery-grid-3,
  .portfolio 
  .gallery-grid-9 {
    grid-column: 3/4 ;
    border-right: var(--bordercolor);
  }

  .portfolio
  .gallery-grid-4,
  .portfolio 
  .gallery-grid-10 {
    grid-column: 4/5;
    border-right: var(--bordercolor);
  }

  .portfolio
  .gallery-grid-5,
  .portfolio 
  .gallery-grid-11 {
    grid-column: 5/6;
    border-right: var(--bordercolor);
  }

  .portfolio
  .gallery-grid-6,
  .portfolio 
  .gallery-grid-12 {
    grid-column: 6/7;
  }

  .services
  .gallery-grid-1,
  .services
  .gallery-grid-2,
  .services
  .gallery-grid-3,
  .services
  .gallery-grid-4,
  .services
  .gallery-grid-5 {
    grid-row: 1;
    border-bottom: var(--bordercolor);
  }
 
  .services
  .gallery-grid-6,
  .services
  .gallery-grid-7,
  .services
  .gallery-grid-8,
  .services
  .gallery-grid-9,
  .services
  .gallery-grid-10 {
    grid-row: 2;
    border-bottom: var(--bordercolor);
  }
 
  .services
  .gallery-grid-11,
  .services
  .gallery-grid-12,
  .services
  .gallery-grid-13,
  .services
  .gallery-grid-14,
  .services
  .gallery-grid-15 {
    grid-row: 3;
  }

  .services
  .gallery-grid-1,
  .services
  .gallery-grid-6,
  .services
  .gallery-grid-11 {
    border-right: var(--bordercolor);
  }
 
  .services
  .gallery-grid-2,
  .services
  .gallery-grid-7,
  .services
  .gallery-grid-12 {
    border-right: var(--bordercolor);
  }
 
  .services
  .gallery-grid-3,
  .services
  .gallery-grid-8,
  .services
  .gallery-grid-13 {
    border-right: var(--bordercolor);
  }
 
  .services
  .gallery-grid-4,
  .services
  .gallery-grid-9,
  .services
  .gallery-grid-14 {
    border-right: var(--bordercolor);

  }
 




/* Grid 2 Effects */

  .absolute {
    position: absolute;
  }

  #grid-1,
  #grid-2,
  #grid-3,
  #grid-4,
  #grid-5,
  #grid-6,
  #grid-7,
  #grid-8,
  #grid-9,
  #grid-10,
  #grid-11,
  #grid-12, 
  #grid-13,
  #grid-14,
  #grid-15 {
    border: none;
  }

  /* #grid-1-2:hover,
  #grid-2-2:hover,
  #grid-3-2:hover,
  #grid-4-2:hover,
  #grid-5-2:hover,
  #grid-6-2:hover,
  #grid-7-2:hover,
  #grid-8-2:hover,
  #grid-9-2:hover,
  #grid-10-2:hover,
  #grid-11-2:hover,
  #grid-12-2:hover {
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.1);
  } */
  

/* Scrollbars */

.portfolio::-webkit-scrollbar {
  width: 2px;
}

.portfolio::-webkit-scrollbar-track {
  background:transparent;
  border-radius: 5px;
}

.portfolio::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
  
}

.portfolio::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.portfolio::-webkit-scrollbar-track-piece:start {
  margin-top: 75px;
}

.portfolio::-webkit-scrollbar-track-piece:end {
  margin-bottom: 75px;
}

.resume::-webkit-scrollbar {
  width: 2px;
}

.resume::-webkit-scrollbar-track {
  background:transparent;
  border-radius: 5px;
}

.resume::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
  
}

.resume::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.resume::-webkit-scrollbar-track-piece:start {
  margin-top: 75px;
}

.resume::-webkit-scrollbar-track-piece:end {
  margin-bottom: 75px;
}

.competencies::-webkit-scrollbar {
  width: 2px;
}

.competencies::-webkit-scrollbar-track {
  background:transparent;
  border-radius: 5px;
}

.competencies::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
  
}

.competencies::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.competencies::-webkit-scrollbar-track-piece:start {
  margin-top: 75px;
}

.competencies::-webkit-scrollbar-track-piece:end {
  margin-bottom: 75px;
}

/* About */

.about-title {
  margin-top: 20vh;
  margin-bottom: 5vh;
}

.about-title h1 {
  color: white;
}

.about-title h3 {
  color: white;
  width: 70%;
}

html body ul li { 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
}


/* Layer Effects */

.darkoverlay {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  position: absolute;
  z-index: 3;
  mix-blend-mode: soft-light;
  filter: opacity(0.4);
}

.overlay {
  height: 100vh;
  width: 100vw;
  transition: var(--transition50-50);
}

#navoverlay:hover ~ #bgoverlay {
  backdrop-filter: blur(20px);
  transition: var(--transition50-50);
}

#navoverlay:hover ~ #bgoverlay2 {
  transition: var(--transition50-50);
  transform: scale(1.01);
  transform-origin: center;

}

.mixblendfg {
  mix-blend-mode: overlay;
}

.mixblendfg2 {
  mix-blend-mode: lighten;
}

.z1 {
  z-index: 1;
  position: relative;
    transition: var(--transition50-50);
}

.z2 {
  z-index: 2;
  position: relative;
    transition: var(--transition50-50);
}

.z3 {
  z-index: 3;
  position: relative;
    transition: var(--transition50-50);
}

.z4 {
  z-index: 4;
  position: relative;
    transition: var(--transition50-50);
}

.z5 {
  z-index: 5;
  position: relative;
    transition: var(--transition50-50);
}

.z6 {
  z-index: 6;
  position: relative;
    transition: var(--transition50-50);
}
.z6a {
  z-index: 6;
    transition: var(--transition50-50);
}

.background-image {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.background-image2 {
  overflow: hidden;
  width: 90vw;
  object-fit: contain;
  margin-top: 20vh;
  display: none;
}

.box {
  -webkit-mask-image: linear-gradient(to bottom,transparent 0%, black 25%, black 65%, transparent 90%);
  mask-image: linear-gradient(to bottom,transparent 0%, black 25%, black 65%, transparent 90%);
}
.box-h {
  -webkit-mask-image: linear-gradient(to right,transparent 10%, black 25%, black 75%, transparent 90%);
  mask-image: linear-gradient(to right,transparent 10%, black 25%, black 75%, transparent 90%);
}

.box360 {
  -webkit-mask-image: radial-gradient( white 0%, white 50%, transparent 60% );
  mask-image: radial-gradient( white 0%, white 50%, transparent 60% );
}

.lineardown {
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, transparent 60%);
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, transparent 60%);
}
.linearright {
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 50%, transparent 90%);
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 50%, transparent 90%);
}

.footerinline {
  position: fixed; 
  color:var(--badgecolor);
  bottom: 0;
  margin-bottom: 7vh;
  line-height: 1.25;
  opacity: .5;

}

.containerbg {
  background-color: var(--secondary20);
  border-radius: 5px;
  backdrop-filter: blur(25px);
  height: 55vh;
  padding: 30px;
  
}

/* Icons */


.designlogo {
  background-image: url(/images/gallery/icons/UI/design.svg);
}

.marketinglogo {
  background-image: url(/images/gallery/icons/UI/marketing.svg);
}

.developmentlogo {
  background-image: url(/images/gallery/icons/UI/develop.svg);
}

.consultinglogo {
  background-image: url(/images/gallery/icons/UI/consult.svg);
}

.portfoliologo {
  background-image: url(/images/gallery/icons/UI/portfolio.svg);
}

.resumelogo {
  background-image: url(/images/gallery/icons/UI/resume.svg);
}

.linkedin {
  background-image: url(/images/gallery/icons/socialmedia/Linkedin.svg);
}

.contactlogo {
  background-image: url(/images/gallery/icons/UI/contact.svg);
}

.photoshop {
  background-image: url(/images/gallery/icons/programs/Adobe/wrl/Photoshop.svg);
}

.lightroom {
  background-image: url(/images/gallery/icons/programs/Adobe/wrl/lightroom.svg);
}
.indesign {
  background-image: url(/images/gallery/icons/programs/Adobe/wrl/indesign.svg);
}
.illustrator {
  background-image: url(/images/gallery/icons/programs/Adobe/wrl/illustrator.svg);
}
.aftereffects {
  background-image: url(/images/gallery/icons/programs/Adobe/wrl/aftereffects.svg);
}
.premierepro {
  background-image: url(/images/gallery/icons/programs/Adobe/wrl/premierepro.svg);
}
.acrobat {
  background-image: url(/images/gallery/icons/programs/Adobe/wrl/acrobat.svg);
}
/* . {
  background-image: url(/images/gallery/icons/programs/Adobe/wrl/.svg);
}
. {
  background-image: url(/images/gallery/icons/programs/Adobe/wrl/.svg);
}
. {
  background-image: url(/images/gallery/icons/programs/Adobe/wrl/.svg);
}
. {
  background-image: url(/images/gallery/icons/programs/Adobe/wrl/.svg);
}
. {
  background-image: url(/images/gallery/icons/programs/Adobe/wrl/.svg);
}
. {
  background-image: url(/images/gallery/icons/programs/Adobe/wrl/.svg);
}
. {
  background-image: url(/images/gallery/icons/programs/Adobe/wrl/.svg);
}
. {
  background-image: url(/images/gallery/icons/programs/Adobe/wrl/.svg);
} */

.logoicon {
  height: 35px;
  width: 35px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.nav-list .logoicon {
  height: 25px;
  width: 25px;
  margin-bottom: 10px;
}

.design-nav-toggle:hover .logoicon,
.marketing-nav-toggle:hover .logoicon,
.development-nav-toggle:hover .logoicon,
.consulting-nav-toggle:hover .logoicon, 
.portfolio-nav-toggle:hover .logoicon,
.resume-nav-toggle:hover .logoicon,
.linkedin-nav-toggle:hover .logoicon,
.contact-nav-toggle:hover .logoicon {
  transform: scale(1.2);
  transition: var(--transition50-50);
}


.flexend {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flexendrow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin-left: 40vw;
}

.resume-title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: -50px;
  padding-left: 10px;
}

.resume-title h1 {
  font-size: 45px;
  letter-spacing: -2px;
  font-weight: 500;
}

.services {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-right: solid 1px var(--secondary20);
}

.servicesgallery {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
}

.galleryimage {
  height: 50vh;
  transform: scale(1.5);
  
}