@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  --body: 1000px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

html, body {
  height: 100%;
}

body {
  font-family: var(--font-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
}



\
main {
  max-width: var(--body);
  margin: auto;
  box-sizing: border-box;
	box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid white;
}

@media screen (min-width: 1000px) {
  main {
    width: 100vw!important;
  }
}

/* Icons */
.nav-list,
.design-list {
  display: flex;
  justify-content: space-between;

}

.nav-list .logoicon {
  height: 35px;
  width: 35px;
  margin-bottom: 10px;
}

.category-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border: 1px solid white;
}

.logoicon {
  height: 125px;
  width: 125px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.category-button:hover .logoicon,
.category-button:hover .logoicon,
.category-button:hover .logoicon,
.category-button:hover .logoicon, 
.category-button:hover .logoicon,
.category-button:hover .logoicon,
.category-button:hover .logoicon,
.category-button:hover .logoicon {
  transform: scale(1.2);
  transition: var(--transition50-50);
}

.arrow {
  height: 35px;
  width: 35px;
}